<div>
  <div className="board-row">
    <app-square
      value="0"
    ></app-square>
    <app-square
      value="0"
    ></app-square>
    <app-square
      value="0"
    ></app-square>
  </div>
  <div className="board-row">
    <app-square
      value="0"
    ></app-square>
    <app-square
      value="0"
    ></app-square>
    <app-square
      value="0"
    ></app-square>
  </div>
  <div className="board-row">
    <app-square
      value="0"
    ></app-square>
    <app-square
      value="0"
    ></app-square>
    <app-square
      value="0"
    ></app-square>
  </div>
</div>
